{% load static %}
<main class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">

      <!-- START - título secundario -->
      {{ title }}
      <!-- END - título secundario -->

    </h2>

    <!-- Indicadores -->
    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">

      <!-- Indicador -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <!--<path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />-->
            <path d="M7.5 3a1 1 0 0 1 1 1v2h3V4a1 1 0 1 1 2 0v2h2a1 1 0 1 1 0 2h-2v3h2a1 1 0 1 1 0 2h-2v2a1 1 0 1 1-2 0v-2h-3v2a1 1 0 1 1-2 0v-2h-2a1 1 0 1 1 0-2h2V8h-2a1 1 0 1 1 0-2h2V4a1 1 0 0 1 1-1zm1 7h3V8h-3v2z"/>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Número total de pedidos
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
            <!-- START - valor del indicador 1 -->
            {{ total_responses }}
            <!-- END - valor del indicador 1 -->
          </p>
        </div>
      </div>

      <!-- Indicador -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path d="M6 2a1 1 0 012 0v1h4V2a1 1 0 112 0v1h1a2 2 0 012 2v11a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h1V2zm10 4H4v9a1 1 0 001 1h10a1 1 0 001-1V6z"/>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Numero de pedidos en el ultimo mes
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">

            <!-- START - valor del indicador 2 -->
            {{ultimomes}}
            <!-- END - valor del indicador 2 -->

          </p>
        </div>
      </div>

      <!-- Indicador -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 16 16">
            <path fill="#ffffff" fill-rule="evenodd" d="M8.5.75a.75.75 0 00-1.5 0V2h-.594c-.9 0-1.766.353-2.405.985A3.36 3.36 0 003 5.375a3.36 3.36 0 001 2.39c.64.632 1.506.985 2.406.985H7v3.75H4.25a.75.75 0 000 1.5H7v1.25a.75.75 0 001.5 0V14h1.094c.9 0 1.766-.353 2.405-.985A3.36 3.36 0 0013 10.625a3.36 3.36 0 00-1-2.39 3.422 3.422 0 00-2.406-.985H8.5V3.5h3.25a.75.75 0 000-1.5H8.5V.75zM7 3.5h-.594c-.508 0-.994.2-1.35.552A1.86 1.86 0 004.5 5.375c0 .494.199.97.555 1.323.357.352.843.552 1.351.552H7V3.5zm1.5 5.25v3.75h1.094c.508 0 .994-.2 1.35-.552a1.86 1.86 0 00.556-1.323c0-.494-.199-.97-.555-1.323a1.922 1.922 0 00-1.351-.552H8.5z" clip-rule="evenodd"/>
          </svg>
        </div> 
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Proyección de ganancias
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">

            <!-- START - valor del indicador 3 -->
            {{ganancia}}
            <!-- END - valor del indicador 3 -->

          </p>
        </div>
      </div>

      <!-- Indicador -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M 18.332031 8.175781 C 18.234375 7.863281 17.964844 7.640625 17.640625 7.601562 L 12.890625 6.949219 L 10.734375 2.941406 C 10.585938 2.671875 10.304688 2.503906 10 2.503906 C 9.695312 2.503906 9.414062 2.671875 9.265625 2.941406 L 7.140625 6.949219 L 2.390625 7.601562 C 2.070312 7.644531 1.804688 7.867188 1.707031 8.175781 C 1.625 8.472656 1.714844 8.796875 1.941406 9.007812 L 5.351562 12.117188 L 4.515625 16.484375 C 4.433594 16.808594 4.550781 17.148438 4.816406 17.351562 C 5.082031 17.554688 5.441406 17.582031 5.734375 17.417969 L 10 15.316406 L 14.265625 17.417969 C 14.382812 17.472656 14.507812 17.5 14.632812 17.5 C 14.882812 17.503906 15.121094 17.394531 15.28125 17.207031 C 15.445312 17.015625 15.511719 16.761719 15.464844 16.515625 L 14.632812 12.148438 L 18.042969 9.042969 C 18.304688 8.835938 18.417969 8.496094 18.332031 8.175781 Z M 18.332031 8.175781"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Producto más pedido
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">

            <!-- START - valor del indicador 4 -->
            {{masvendido}}
            <!-- END - valor del indicador 4 -->

          </p>
        </div>
      </div>

    </div>

    <div class="grid gap-6 mb-8 md:grid-cols-2">

      <!-- BEGIN - Datos -->
      <div class="row-span-1 w-full overflow-hidden rounded-lg shadow-xs mb-6">

        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
              <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">ID</th>
                <th class="px-4 py-3">Nombre</th>
                <th class="px-4 py-3">Email</th>
                <th class="px-4 py-3">Producto</th>
                <th class="px-4 py-3">Talla</th>
                <th class="px-4 py-3">Fecha</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

              {% for fila in rows %}
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3 text-sm">{{ fila.id }}</td>
                <td class="px-4 py-3 text-sm">{{ fila.nombre }}</td>
                <td class="px-4 py-3 text-sm">{{ fila.email }}</td>
                <td class="px-4 py-3 text-sm">{{ fila.producto }}</td>
                <td class="px-4 py-3 text-sm">{{ fila.talla }}</td>
                <td class="px-4 py-3 text-sm">{{ fila.fecha }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        <div
          class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
          <span class="flex items-center col-span-3">
            <!-- START - # total de respuestas -->
            {{total_responses}} 
            <!-- END - # total de respuestas -->
            pedidos
          </span>
        </div>
      </div>
      <!-- END - Datos -->

      <!-- BEGIN - Gráficos -->
      <div class="row-span-1 grid gap-6 mb-8 md:grid-cols-12">
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 mb-8">
          <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
            Pedidos por fecha
          </h4>
          <script>
            window.ordersLabels = JSON.parse('{{ orders_labels|escapejs }}');
            window.ordersData = JSON.parse('{{ orders_data|escapejs }}');
            window.revenueLabels = JSON.parse('{{ revenue_labels|escapejs }}');
            window.revenueData = JSON.parse('{{ revenue_data|escapejs }}');
          </script>
          <canvas id="line"></canvas>
          <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
            Ganancias por fecha
          </h4>
          <canvas id="line2"></canvas>
        </div>
      </div>
      <!-- END - Gráficos -->

    </div>

  </div>
</main>